@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
@font-face {
  font-family: aoyanagi;
  src: url(aoyagireisyosimo_ttf_2_01.ttf);
}

body {
  color: #5f5f5f;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-size: 35px;
  font-family: aoyanagi;
}

h3 {
  font-size: 18px;
  font-family: 'aoyanagi';
}

p {
  font-size: 17px;
  margin-block-end: 1px;
  margin-block-start: 1px;
}

#header {
  background-image: url(img/UrHil4Zg.png);
  padding: 20px;
  text-align: center;
  color: #e0e0e0;
}

#header img {
  width: 200px;
}

.box{
    padding: 0 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.2);
  }
}

#box1{
  position: relative;
}

.logo {
  width: 200px;
}

.bg-slider {
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#box2{
  flex-direction: column;
  background-image: url(img/12345.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#box2 h2 {
  color: #fff;
  text-shadow: 5px 5px 3px #000;
}

.kamon1 {
  background-image: url(img/cCo5qRQA.png);
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .5;
}

.kamon2 {
  background-image: url(img/20200810223624822.png);
  width: 340px;
  height: 330px;
  background-size: cover;
  position: absolute;
  top: 0%;
  left: -27%;
  overflow: hidden;
  opacity: .5;
}

.news_header {
  font-size: 20px;
  font-weight: bold;
}

.news {
  background-image: url(img/xsCHjUtg.png);
  padding: 5%;
  width: 100%;
  background-color: rgba(255,255,255,.5);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
  z-index: 1;
  margin-bottom: 10%;
}

.news_text {
  font-size: 15px;
}

.word {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: 'aoyanagi';
}

.btn {
  background-color: #664433;
  width: 150px;
  padding: 10px;
  margin: auto;
  clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
}



#box3 , #box4 , #box5 , #box6 {
    background-size: cover;
    color: #fff;
    text-shadow: 5px 5px 3px #000;
    flex-direction: column;
}

#box3 {
  line-height: 30px;
  padding: 0;
}

.histry {
  background-image: url(img/bry35vhg.jpeg);
  background-position: 25% center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.histry_text {
  margin: 20% 5%;
}

#box4 {
  background-image: url(img/buojWI6Q.jpeg);
  background-position: 50% top;
}

#box4 p {
  margin: 10% auto;
  line-height: 30px;
}

p.btn.animation-target.move {
  text-shadow: none;
}

.information_img {
  width: 100%;
  margin-bottom: 10%;
}

.information_link {
  position: absolute;
}

.link1 {
  top: 23%;
  left: 32%;
}

.link2 {
  top: 25%;
  left: 19%;
}

.link3 {
  top: 52%;
  left: 21%;
}

.link4 {
  top: 78%;
  left: 23%;
}

.link5 {
  top: 74%;
  right: 17%;
}

.information_title {
  text-align: center;
}

.information_contents {
  margin: 20% 0;
}

.information_contents img {
  width: 100%;
}

.contents_title {
  font-size: 30px;
  font-family: serif;
  text-align: center;
  margin-bottom: 5%;
}

.information_map {
  position: relative;
}

.information_map img {
  width: 100%;
}

#box5 {
  background-image: url(img/87Kwi3VA.jpeg);
  background-position: 30% bottom;
}

.event {
  margin-bottom: 10px;
}

#box6 {
  color: #5f5f5f;
  text-shadow: none;
  position: relative;
}

.box6_back {
  background-image: url(img/QsRFt3Og.png);
  background-color: rgba(255,255,255,.8);
  background-blend-mode: lighten;
  position: absolute;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
  bottom: 1%;
}

.box6_back1 {
  background-image: url(img/J4WMPskQ.png);
  background-color: rgba(255,255,255,.8);
  background-blend-mode: lighten;
  position: absolute;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  top: 0;
  right: -3%;
}

iframe {
  width: 100%;
  height: auto;
}

#footer {
  background-image: url(img/UrHil4Zg.png);
  padding: 40px;
  text-align: center;
  color: #e0e0e0;
}

#footer img {
  width: 200px;
}

.footer_text p {
  font-size: 12px;
}

/*========= ページネーションCSS ===============*/

.pagination {
  position:fixed;
  right:20px;
  top: 50%;
    transform: translateY(-50%);
  font-size:1em;
  z-index: 10;
  list-style: none;
}

.pagination a {
  display:block;
  height:20px;
  margin-bottom:5px;
  color:#fff;
  position:relative;
  padding:4px;
}

.pagination a.active:after {
  box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:0;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:10px;
  height:10px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:"";
  position: absolute;
  margin:auto;
  top:0;
  right:3px;
  bottom:0;
  color: #e0e0e0;
}

/*768px以下は現在地表示のテキストを非表示*/
@media (max-width: 768px) { 
  .pagination a .hover-text{
    display: none;
  } 
}

/*769px以上の処理*/

@media (min-width: 769px) {

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 24px;
  }

  .news {
    width: 600px;
    padding: 3% 5%;
    margin-bottom: 0;
  }

  .news_text {
    font-size: 24px;
 }

  .btn {
    padding: 10px 30px;
}

  .word {
    font-size: 36px;
}

  #box3 {
  line-height: 40px;
  }

  .histry h2 {
      margin-top: 12%;
      margin-bottom: -17%;
  }

  .access h2 {
    margin-top: 20%;
}

  h3 {
    font-size: 36px;
    margin-top: 0;
}

  iframe {
    width: 600px;
    height: 300px;
    margin-top: 2%;
  }

  .box6_back {
    height: 300px;
    z-index: -1;
  }

  .box6_back1 {
    height: 200px;
  }
}

.ripple,
.ripple:before,
.ripple:after {/*疑似要素も作り、3つの波紋を作る*/
  display: block;
  border-radius: 2px;
  width: 2px;
  height: 2px;
  animation: rip 5s infinite ease-out;
}
.ripple {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 40%;
  opacity: .5;
}
.ripple:before,
.ripple:after {
  content: "";
  position: absolute;
}
.ripple:before {/*遅延させる*/
  animation-delay: 0.2s;
  top: 5px;
  left: 25px;
}
.ripple:after {/*さらに遅延*/
  animation-delay: 0.8s;
  top: 25px;
  left: 0;
}
@keyframes rip {/*keyframesで波紋セッティング*/
  0% {
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent,
      0 0 0 0 transparent;
  }
  15% {
    box-shadow: 0 0 0 0 rgba(255,255,255,.3), 0 0 0 0 rgba(255, 255, 255, 0.4),
      0 0 0 0 rgba(255,255,255,.5), 0 0 0 0 rgba(0, 0, 0, 0.08);
      opacity: .3;
  }
  100% {
    box-shadow: 0 0 40px 200px rgba(255,255,255,.5), 0 0 10px 210px transparent,
      0 0 30px 220px rgba(255,255,255,.8), 0 0 5px 230px transparent;
      opacity: .1;
  }
}

/*ページマスク表示*/

.animation-screen {
  position: relative;
  overflow: hidden;
}

.animation-screen::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0%;
  background-image: url(img/back_img.jpg);
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  transform: translateX(-100%);
  opacity: .5;
}

.animation-screen_right::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0%;
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  transform: translateX(100%);
}



@keyframes show-mask {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes show-mask_right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animation-screen.show::before {
  animation: show-mask 1.5s forwards;
}

.animation-screen_right.show::before {
  animation: show-mask_right 1.5s forwards;
}

@keyframes flow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-target {
  opacity: 0;
  z-index: 1;
}

.animation-target.move {
  animation: flow 2s forwards;
}


/*以下フェードイン表示の指定*/
.animation_text.fadein {
  opacity: 0;
  animation: fadein 1s ease forwards;
}
@keyframes fadein {
  0% { opacity: 0;}
  100% {  opacity: 1; z-index: 1;}
}

/*以下遅延の指定*/
.txt01.fadein {animation-delay: 1s;}
.txt02.fadein {animation-delay: 3s;}
.txt03.fadein {animation-delay: 5s;}
.txt04.fadein {animation-delay: 7s;}
.txt05.fadein {animation-delay: 9s;}
.txt06.fadein {animation-delay: 11s;}
.txt07.fadein {animation-delay: 13s;}