@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
body {
  color: #5f5f5f;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

#header {
}

.box{
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#box1{
}

.bg-slider {
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

#box2{
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(img/back.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(255,255,255,.9);
  background-blend-mode: lighten;
}

.news_header {
  font-size: 20px;
  font-weight: bold;
}

.news {
  background-image: url(img/xsCHjUtg.png);
  padding: 5%;
  width: 100%;
  background-color: rgba(255,255,255,.5);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
}



#box3 , #box4 , #box5 , #box6 {
    background-size: cover;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    flex-direction: column;
}

#box3 {
  background-image: url(img/fjuL3COA.jpeg);
  background-position: top;
  line-height: 30px;
}

.btn {
  color: #5f5f5f;
  padding: 10px 30px;
  background-color: rgba(255,255,255,.9);
  text-shadow: none;
}

#box4 {
  background-image: url(img/lrTsaV9A.jpeg);
}

#box5 {
  background-image: url(img/back1.jpg);
  color: #5f5f5f;
  text-shadow: none;
}

iframe {
  width: 100%;
  height: auto;
}

#footer {
  background-image: url(img/UrHil4Zg.png);
  padding: 40px;
  text-align: center;
}

#footer a{
  color: #fff;
}
/*========= ページネーションCSS ===============*/

.pagination {
  position:fixed;
  right:20px;
  top: 50%;
    transform: translateY(-50%);
  font-size:1em;
  z-index: 10;
  list-style: none;
}

.pagination a {
  display:block;
  height:20px;
  margin-bottom:5px;
  color:#fff;
  position:relative;
  padding:4px;
}

.pagination a.active:after {
  box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:0;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:10px;
  height:10px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:"";
  position: absolute;
  margin:auto;
  top:0;
  right:3px;
  bottom:0;
}

/*768px以下は現在地表示のテキストを非表示*/
@media screen and (max-width:768px) { 
  .pagination a .hover-text{
    display: none;
  } 
}